.btn-group{
    display: flex;
    text-align: center;
    justify-content: center;
}

.btn-group{
    margin-right: 8rem;
}

.btn-group .btn-group-wrapper > button{
    width: 6rem;
    margin-left: 8rem;
}
