.item-add-form{
    display: flex;
    justify-content: center;
    text-align: center;
}

.item-add-form-wrapper{
    margin-top: 13px;
    width: 34rem;
    display: flex;
}

.item-add-form-wrapper > input {
    margin-right: 10px;
}

.item-add-form-wrapper > button {
    width: 7.2rem;
    height: 2.37rem;
}
