button {
  cursor: pointer !important; }

.timers-control button {
  margin: 5px; }

.timer {
  display: flex;
  align-items: stretch;
  margin: 5px;
  justify-content: center; }
  .timer .time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    border: 1px solid #768697;
    border-right: none;
    border-radius: .25rem 0 0 .25rem;
    font-family: monospace;
    font-size: 20px; }
  .timer .controls .btn:focus {
    box-shadow: none !important; }
  .timer .controls .btn:first-child {
    border-radius: 0 !important; }
