body {
    background-color: seashell;
}

#clock {
    color: seagreen;
    font-size: 200px;
    background-color: silver;
    border-radius: 550px;
    padding: 0.5em 0em;
    border: 20px solid salmon;
    width: 80%;
    margin: 0px auto;
    text-align: center;
    text-transform: uppercase;
}

span {
    margin-left: 40%;
}