.item-add-form{
    margin-top: 10px;
    margin-left: 10em;
    width: 20%;
}

.item-add-form input{
    margin-left: 39rem;
    width: 200px
}

.item-add-form button{
    width: 100px;
    margin-left: 10px;
}